.answer{
    margin-top:10px;
}
.convertcomp{
    margin:10%;
    padding:5%;
    border:1px solid #eee;
    background:  white;
}
.special-note{
    font-size: 12px;
    font-style: italic
}

sup.reference {
    unicode-bidi: isolate;
    white-space: nowrap;
    font-weight: normal;
    font-style: normal;
}

